.Home-top-container{
    border:1px solid red;
    background-image: url("../../../../public/homtopbg.png");

    padding: 20px;
    font-family:'Oxanium', cursive;
}
.home-heading-one{
    text-align: left;
font-size: 1.5rem;
}
.home-heading-two{
    text-align: left;
    font-size: 2.6rem;
    width: 70%;
    font-weight: 600;
}
.home-btn-img{
    display: flex;
    justify-content: space-between;
    
}
.home-top-img{
    width: 28vw;
}
.home-top-btn-box{
    margin-top: 40px;
    width: 40%;
    
}
.home-top-btn{
    
}